body {
	background: #00CC4C;
}

.top-menu {
	position: absolute;
	/*margin-left: 11em;
	top: 50;
	*/
}

.top-menu table{
	padding: inherit;
	border: none;
}

.top-menu td {
	background: red;
	padding: inherit;
	min-width: 120px;
}

.top-menu a{
	color: black;
	text-decoration: none;
}

.top-menu a:hover{
	background: yellow;
}

.top-menu td:focus {
	background: yellow;
}

/***********************************************************************
************************************************************************
	                       Leve menu
************************************************************************
************************************************************************
*/

#left-menu {
	position: absolute;
	top: 100px;
	width: 11em;
	z-index: 20;
	margin: 0;
	padding: 0;
}

#left-menu a {
	border: 2px solid #ccc;
	background: black;
	color: white;
	line-height: 1.3em;
	overflow: hidden;
}

#left-menu * {
	display: block;
	text-align: center;
	margin: 0;
	padding: 0;
	text-decoration: none;
}

#left-menu ul {
	display: none;
	list-style-type: none;
	width: 11em;
	position: absolute;
	left: 11em;
	top: 0;
}

#left-menu * ul#podnabidka-1, #left-menu * ul#podnabidka-2 {
	display: none;
	width: 11em;
	position: absolute;
	left: 11em;
	top: 0;
}

/*
****** Nabidky menu ***********
*/

#left-menu ul#nabidka-1{
	display: block;
}

#left-menu ul#nabidka-2{
	display: block;
	top: 1.5em;
}

#left-menu ul#nabidka-3{
	display: block;
	top: 3em;
}

#left-menu ul#nabidka-4{
	display: block;
	top: 4.5em;
}

#left-menu ul#nabidka-5{
	display: block;
	top: 6em;
}

#left-menu ul#nabidka-6{
	display: block;
	top: 7.5em;
}

#left-menu ul#nabidka-7{
	display: block;
	top: 9em;
}

#left-menu ul#nabidka-8{
	display: block;
	top: 10.5em;
}

/*
****** Podnabidky menu **************
*/

#left-menu ul#podnabidka-2 {
	left: 11em;
	top: 1.5em;
}

#left-menu ul#podnabidka-3 {
	left: 11em;
	top: 3em;
}

#left-menu ul#podnabidka-4 {
	left: 11em;
	top: 4.5em;
}

#left-menu ul#podnabidka-5 {
	left: 11em;
	top: 6em;
}

#left-menu ul#podnabidka-6 {
	left: 11em;
	top: 7.5em;
}

#left-menu ul#podnabidka-7 {
	left: 11em;
	top: 9em;
}

#left-menu:hover>li>ul, #left-menu>li>ul:hover>li>ul, #left-menu>li>ul>li>ul:hover>li>ul{
	display: block;
}

#left-menu a#nabidka:hover, #left-menu a#nabidka:focus {
	background: lime;
	color: black;
}