body {
	background: #00CC4C;
}

.main {
	margin-left: 13em;
	position: absolute;
	top: 50;
}

.main table {
	border: 1px solid #000;
}

.main td, .main th {
	border: 1px solid #000;
	text-align: center;
	width: 7em;
}

.top-menu {
	position: absolute;
	/*margin-left: 11em;
	top: 50;
	*/
}

.top-menu table{
	padding: inherit;
	border: none;
}

.top-menu td {
	background: red;
	padding: inherit;
	width: 120px;
	text-align: center;
	border: 2px solid #000;
}

.top-menu a{
	color: black;
	text-decoration: none;
}

.top-menu td:hover{
	background: yellow;
}

.top-menu td:focus {
	background: yellow;
}

/***********************************************************************
************************************************************************
	                       Leve menu
************************************************************************
************************************************************************
*/


#menu, #menu ul, #menu li {
	list-style: none;
	padding: 0;
	margin: 0;
	z-index: 20;
	text-align: center;
}

#menu li {
	list-style: none;
	position: relative;
	width: 120px;
	padding:0 20px;
	background-color: black;
	line-height: 30px;
	cursor: pointer; 
	border: 2px solid #ccc;
}

#menu>ul>li {
	top: 50px;
}

#menu li a {
	text-decoration: none;
	color: white;
}

#menu li:hover {
	background-color: red;
}

#menu ul ul {
	position: absolute;
	top: 0;
	left: 160px;
	visibility: hidden;
}

#menu ul ul ul {
	position: absolute;
	top: 0;
	left: 160px;
	visibility: hidden;
}

#menu ul ul ul ul {
	position: absolute;
	top: 0;
	left: 160px;
	visibility: hidden;
}

#menu>ul>li:hover>ul, #menu>ul>li>ul>li:hover>ul, #menu>ul>li>ul>li>ul>li:hover>ul {
	visibility:visible;
}